# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# BACKEND
*.pyc
__pycache__/
dvenv/


# FRONTEND
node_modules
frontend/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*